$red: #ff4c7c;
$blue: #5065ff;
$transparent-red: rgba(255, 76, 124, 0.5);

// Neutrals
$dark-gray: #bbb;
$gray: #eee;
$light-gray: #efefef;
$shade: rgba(0, 0, 0, 0.1);

.gray {
  background: $gray;
}

.light-gray {
  background: $light-gray;
}
