$height: 1.5rem;

footer {
  padding: 1rem 0rem;
  border-top: 1px solid $gray;
  color: $dark-gray;
  font-size: 0.8rem;

  .logo {
    height: $height;
    width: auto;
  }

  .legal {
    margin-bottom: 0;
    height: $height;
    line-height: $height;
    float: right;
  }

  .to-top {
    display: none;
  }
}

@media screen and (max-width: $phone) {
  footer {
    .logo {
      margin-bottom: 1rem;
    }

    .legal {
      float: none;
      height: auto;
      line-height: normal;
      margin-bottom: 0.5rem;
    }

    .to-top {
      display: block;
      color: $dark-gray !important;
    }
  }
}
