#hero {
  background-image: url('/img/computer.jpg');
}

#call-to-action {
  background-image: url('/img/philly.jpg');
}

$border-width: 3px;

.circle-images {
  position: absolute;
  width: 100%;
  display: block;
  margin-left: -$border-width;
  overflow: hidden;
  text-align: center;
  transform: translateY(-2rem);

  div {
    height: 4rem;
    width: 4rem;
    margin-right: -1.25rem;
    display: inline-block;
    background: $gray;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: $border-width solid white;

    &#prateek {
      background-image: url('/img/people/prateek.jpeg');
    }

    &#cam {
      background-image: url('/img/people/cam.jpeg');
    }

    &#adam {
      background-image: url('/img/people/adam.jpg');
    }

    &#terry {
      background-image: url('/img/people/terry.png');
    }

    &#brian {
      background-image: url('/img/people/brian.jpg');
    }
  }
}

.number-bullet {
  display: flex;
  flex-direction: row;

  .number {
    font-size: 2rem;
    font-family: $serif;
    font-weight: bold;
    margin-right: 1rem;
    padding-right: 1rem;
    color: $dark-gray;
    border-right: 2px dashed $gray;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

#technologies {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .lists {
    display: flex;

    .list {
      padding: 0.5rem 0rem;
      flex: 1;
      text-align: center;
      border-right: 2px dashed $dark-gray;

      &:last-child {
        border-right: 0px solid transparent;
      }
    }
  }
}

// Change technologies to one-per-line
@media screen and (max-width: $phone) {
  #technologies {
    overflow: hidden;

    .lines {
      background-image: linear-gradient(90deg, $light-gray 70%,transparent 70%),linear-gradient($transparent-red 15%, $light-gray 15%);
      background-size: 20px 20px;
      position: absolute;
      z-index: 0;

      &.right {
        height: 10rem;
        right: 0;
        width: 40%;
      }

      &.left {
        height: 6rem;
        transform: translateY(-5.5rem);
        left: 0;
        width: 25%;
      }
    }

    .container {
      z-index: 1;
      position: relative;
    }

    .lists {
      display: block;

      .list {
        border-right: 0px solid transparent;
      }
    }
  }
}

// Add breathing room between people and about section
@media screen and (max-width: $tablet) {
  #about h2 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: $phone) {
  #about h2 {
    margin-top: 1.25rem;
  }

  #hero .container {
    padding-bottom: 1rem;
  }
}
