.banner {
  color: white;
  padding: 5% 0rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  p {
    font-size: 1.5rem;
  }
}

#hero {
  background-image: url('/img/computer.jpg');
}

#call-to-action {
  background-image: url('/img/philly.jpg');
}

$border-width: 3px;

.circle-images {
  position: absolute;
  width: 100%;
  display: block;
  margin-left: -$border-width;
  overflow: hidden;
  text-align: center;
  transform: translateY(-2rem);

  div {
    height: 4rem;
    width: 4rem;
    margin-right: -1.25rem;
    display: inline-block;
    background: $gray;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: $border-width solid white;

    &#prateek {
      background-image: url('/img/people/prateek.jpeg');
    }

    &#cam {
      background-image: url('/img/people/cam.jpeg');
    }

    &#adam {
      background-image: url('/img/people/adam.jpg');
    }

    &#terry {
      background-image: url('/img/people/terry.png');
    }

    &#anushya {
      background-image: url('/img/people/anushya.png');
    }
  }
}

section {
  padding: calc(1.25% + 0.5rem) 0rem;
}

.number-bullet {
  display: flex;
  flex-direction: row;

  .number {
    font-size: 2rem;
    font-family: $serif;
    font-weight: bold;
    margin-right: 1rem;
    padding-right: 1rem;
    color: $dark-gray;
    border-right: 2px dashed $gray;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

#technologies {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .lists {
    display: flex;

    .list {
      padding: 0.5rem 0rem;
      flex: 1;
      text-align: center;
      border-right: 2px dashed $dark-gray;

      &:last-child {
        border-right: 0px solid transparent;
      }
    }
  }
}

.riplo-bar {
  width: 4rem;
  height: 0.5rem;
  position: absolute;
  left: calc(50% - 2rem);
  transform: translateY(-0.25rem);

  &.red {
    background: $red;
  }

  &.blue {
    background: $blue;
  }
}

#contact {
  margin-top: -5%;
  min-height: 540px;

  .content {
    border: 1px solid $gray;
    background: white;
    padding: 1rem calc(1rem + 1.25%);
  }

  .form-control {
    margin-bottom: 1rem;
    border-radius: 0px;
    border-width: 2px;
    font-size: 1rem;
    padding: 0.75rem;

    &:active,
    &:focus {
      border-color: $blue;
    }
  }
}
