@import './fonts';
@import './colors';
@import './nav';
@import './footer';
@import './home';
@import './project';

.marg-bot-1 {
  margin-bottom: 1rem !important;
}

.btn {
  border-radius: 0rem;
}

.btn-primary {
  padding: 0.5rem 0.75rem;
  background: $blue;

  &:hover,
  &:focus,
  &:active {
    background: darken($blue, 5%);
  }
}

.alert {
  border-radius: 0px;
  border-width: 2px;
}
