.project {
  background: $light-gray;
  padding: 1rem calc(1rem + 1.25%) 0rem calc(1rem + 1.25%);
  margin-bottom: calc(1rem + 1.25%);
  overflow: hidden;

  img {
    border-right: 1px solid $shade;
    border-left: 1px solid $shade;
    border-top: 1px solid $shade;
    box-shadow: 0rem -0.125rem 0.75rem rgba(0, 0, 0, 0.15);
  }

  .btn {
    margin-bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
