<div id="hero" class="banner">
  <div class="container">
    <h1 class="serif center bold">We are a driven group of student developers.</h1>
    <p class="center">
      We rapidly build websites and mobile apps with modern technologies and industry-trained best practices.<br>
      Want something built? We'd love to help.
    </p>
  </div>
</div>

<div class="circle-images">
  <div id="prateek"></div>
  <div id="cam"></div>
  <div id="adam"></div>
  <div id="terry"></div>
  <div id="anushya"></div>
</div>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-9">
        <h2 class="serif bold">More about us</h2>
        <div class="number-bullet">
          <div class="number">
            1.
          </div>
          <p>Riplo is a student-run freelance web development company centered at the University of Pennsylvania. Our members come from top universities and specialize in full-stack development.</p>
        </div>

        <div class="number-bullet">
          <div class="number">
            2.
          </div>
          <p>Riplo delivers everything from complex web applications to mobile apps to static websites. Our developers work with a variety of clients at all stages of business-maturity.</p>
        </div>

        <div class="number-bullet">
          <div class="number">
            3.
          </div>
          <p>Our team is actively looking to bring on more clients. If you have an idea for an app or need help on an existing project, please get in touch.</p>
        </div>
      </div>
      <div class="d-none d-md-block col-md-4 col-lg-3">
        <img src="/img/riplo-construct.svg" alt="Riplo" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<div class="riplo-bar blue"></div>

<section class="light-gray" id="technologies">
  <div class="lines right"></div>
  <div class="container">
    <h2 class="serif bold center marg-bot-1">Technologies</h2>

    <div class="lists">
      <div class="list">
        <h5 class="bold">Web</h5>
        <ul>
          <li>HTML/CSS/SCSS</li>
          <li>React/Redux</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>

      <div class="list">
        <h5 class="bold">Mobile</h5>
        <ul>
          <li>React Native</li>
          <li>Firebase</li>
          <li>Android/iOS</li>
        </ul>
      </div>

      <div class="list">
        <h5 class="bold">Everywhere</h5>
        <ul>
          <li>JavaScript, Node, Express</li>
          <li>MongoDB, PostgreSQL</li>
          <li>Heroku, AWS</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="lines left"></div>
</section>

<div class="riplo-bar red"></div>

<section>
  <div class="container">
    <h2 class="serif bold marg-bot-1">
      Check out our past work
    </h2>

    {{#each projects}}
      {{> project this }}
    {{/each}}
  </div>
</section>

<div id="call-to-action" class="banner">
  <div class="container">
    <h1 class="serif center bold">Let's get started.</h1>
    <p class="center">
      Through our work we hope to make a positive impact on people and small business through well-crafted technology solutions.
    </p>
    <div class="space-1"></div>
  </div>
</div>

{{> contact}}
