<div id="hero">
  <div class="container">
    <h1 class="serif center bold">We are a driven group of student developers.</h1>
    <p class="center">
      We rapidly build websites and mobile apps with modern technologies and industry-trained best practices.<br>
      Want something built? We'd love to help.
    </p>
  </div>
</div>

<section>
  <div class="container">
    <div class="circle-images">
      <div id="cam"></div>
      <div id="adam"></div>
      <div id="terry"></div>
      <div id="anushya"></div>
      <div></div>
    </div>
    <h2 class="serif bold">More about us</h2>
    <p>Riplo is a student-run freelance web development company centered at the University of Pennsylvania. Its members specialize in fullstack development.</p>
    <p>Riplo delivers everything from complex web applications to mobile apps to static websites. Its developers work with a variety of clients at a variety of stages of development.</p>
    <p>The team is always looking to bring on more clients, designers, and developers. If you have an idea for an app or need help on an existing project, please get in touch.</p>
  </div>
</section>


<div class="container">
  <h2 class="serif bold">Technologies</h2>
  <ul>
    <li>Javascript</li>
    <li>HTML5/CSS3</li>
    <li>React/Redux</li>
    <li>React Native</li>
    <li>Express</li>
    <li>Node</li>
    <li>MongoDB</li>
    <li>Ruby on Rails</li>
    <li>Firebase</li>
    <li>Heroku</li>
    <li>AWS</li>
    <li>Git</li>
  </ul>
</div>

<div class="container">
  <h2 class="serif bold">Check out our past work</h2>
</div>
