<footer>
  <div class="container">
    <img src="/img/riplo.png" alt="Riplo" class="logo" />
    <p class="legal">
      Riplo Ventures, LLC &copy; 2018, all rights reserved.
    </p>
    <a href="#nav-space" class="to-top">
      Back to top &uarr;
    </a>
  </div>
</footer>
