<nav>
  <div class="container">
    <div id="logo">
      <img src="/img/riplo.svg" alt="Riplo logo" />
      <span>
        Riplo
      </span>
    </div>
    <div id="links">
      <a href="#nav-space">
        Home
      </a>
      <a href="#about">
        About
      </a>
      <a href="#projects">
        Projects
      </a>
      <a href="#call-to-action">
        Contact
      </a>
    </div>
  </div>
</nav>

<div id="nav-space"></div>
