<nav>
  <div id="logo">
    <img src="/img/riplo.svg" alt="Riplo logo" />
    <span>
      Riplo
    </span>
  </div>
  <div id="links">
    <a href="/">
      Home
    </a>
    <a href="/about">
      About
    </a>
    <a href="/projects">
      Projects
    </a>
    <a href="/contact">
      Contact
    </a>
  </div>
</nav>

<div id="nav-space"></div>
